{% load static %}
{% load cloudinary %}

<section id="features-section" class="section-features">
    <div class="container">
        {% if section.show_title %}
            <h2>{{ section.title|default:"Что мы предлагаем" }}</h2>
        {% endif %}
        <div class="features-grid">
            {% for feature in features %}
                <div class="feature-item">
                    <div class="feature-icon-wrapper">
                        {% if feature.icon %}
                            {% cloudinary_url feature.icon.name width=200 fetch_format="auto" quality="auto" as icon_url %}
                            <img src="{{ icon_url }}" alt="{{ feature.title }}">
                        {% endif %}
                    </div>
                    <div class="feature-text-content">
                        <h3>{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Преимущества не добавлены в админ-панели.</p>
            {% endfor %}
        </div>
    </div>
</section>