<section id="gallery-section" class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">
            {{ section.title|default:"Фото и видео галерея" }}
        </h2>
        {% if company_profile.gallery_description %}
            <p class="gallery-main-description">{{ company_profile.gallery_description }}</p>
        {% endif %}
        
        <!-- Холст для мозаики -->
        <div class="voronoi-gallery-container">
            {% for item in gallery_items %}
                <!-- Ячейка мозаики -->
                <div class="gallery-cell">
                    {% if item.image %}
                        <img src="{{ item.image.url }}" alt="Элемент галереи">
                    {% elif item.video %}
                        <video src="{{ item.video.url }}" loop muted autoplay playsinline></video>
                    {% endif %}
                </div>
            {% empty %}
                <p style="text-align: center; width: 100%;">Элементы для галереи пока не добавлены.</p>
            {% endfor %}
        </div>
        
        {% if company_profile.gallery_button_link %}
        <div style="text-align: center; margin-top: 4rem;">
            <a href="{{ company_profile.gallery_button_link }}" class="btn" target="_blank" rel="noopener noreferrer">
                Узнать подробнее
            </a>
        </div>
        {% endif %}
    </div>
</section>