<section id="gallery-section" class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">
            {{ section.title|default:"Фото и видео галерея" }}
        </h2>
        {% if company_profile.gallery_description %}
            <p class="gallery-main-description">{{ company_profile.gallery_description }}</p>
        {% endif %}
        
        <!-- Холст для мозаики -->
        <div class="voronoi-gallery-container">
            <!-- Скрытый блок с источниками данных для JS -->
            <div class="gallery-sources" style="display: none;">
                {% for item in gallery_items %}
                    <div class="gallery-item" data-src="{% if item.image %}{{ item.image.url }}{% elif item.video %}{{ item.video.url }}{% endif %}" data-type="{% if item.video %}video{% else %}image{% endif %}"></div>
                {% endfor %}
            </div>
        </div>
        
        {% if company_profile.gallery_button_link %}
        <div style="text-align: center; margin-top: 4rem;">
            <a href="{{ company_profile.gallery_button_link }}" class="btn" target="_blank" rel="noopener noreferrer">
                Узнать подробнее
            </a>
        </div>
        {% endif %}
    </div>
</section>