<section id="games-section" class="section-games">
        <div class="container">
            <h2>Игры</h2>
            <div class="games-grid">
                {% for type in game_types %}
                    <div class="game-type-item">
                        <div class="game-type-icon-wrapper">
                            {% if type.icon %}<img src="{{ type.icon.url }}" alt="{{ type.name }}">{% endif %}
                        </div>
                        <div class="game-type-text-content">
                            <h3>{{ type.name }}</h3>
                            <p>{{ type.description }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>Типы игр не добавлены.</p>
                {% endfor %}
            </div>
        </div>
    </section>