{% load static %}
{% load cloudinary %}

<section id="market-section">
    <div class="container">
        {% if section.show_title %}
            <h2>{{ section.title|default:"Маркет" }}</h2>
        {% endif %}
        <div class="market-grid">
            {% for product in products %}
                <a href="{{ product.link|default:'#' }}" class="product-card" target="_blank" rel="noopener noreferrer">
                    <div class="product-image-wrapper">
                        {% if product.image %}
                            {% with 'image/upload/' as find_str %}
                                {% with 'image/upload/w_500,f_auto,q_auto/' as replace_str %}
                                    <img src="{{ product.image.url|slice:'0:45' }}{{ 'w_500,f_auto,q_auto/' }}{{ product.image.url|slice:'46:' }}" alt="{{ product.name }}">
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
                    </div>
                    <h3 class="product-title-bottom">{{ product.name }}</h3>
                    <div class="product-price">{{ product.price }} ₽</div>
                    <p class="product-description">{{ product.description }}</p>
                    
                   
                    <span class="market-product-link">{{ product.button_text|default:"Заказать игру" }}</span>
                </a>
            {% empty %}
                 <p>Товары не добавлены.</p>
            {% endfor %}
        </div>
        {% if company_profile.market_link %}
            <a href="{{ company_profile.market_link }}" class="market-more-link" target="_blank" rel="noopener noreferrer">
                {{ company_profile.market_button_text|default:"Еще больше товаров в нашем маркете" }}
            </a>
        {% endif %}
    </div>
</section>