{% load static %}
{% load cloudinary %}

<section id="market-section">
    <div class="container">
        {% if section.show_title %}
            <h2>{{ section.title|default:"Маркет" }}</h2>
        {% endif %}
        <div class="market-grid">
            {% for product in products %}
                <div class="product-card">
                    <div class="product-content">
                        <div class="product-image-wrapper">
                            {% if product.image %}
                                {% cloudinary_url product.image.name width=500 fetch_format="auto" quality="auto" as product_image_url %}
                                <img src="{{ product_image_url }}" alt="{{ product.name }}">
                            {% endif %}
                        </div>
                        <h3 class="product-title-bottom">{{ product.name }}</h3>
                        <div class="product-price">{{ product.price }} ₽</div>
                        <p class="product-description">{{ product.description }}</p>
                    </div>
                    <div class="product-button-wrapper">
                        <a href="{{ product.link|default:'#' }}" class="market-product-link" target="_blank" rel="noopener noreferrer">
                            {{ product.button_text|default:"Заказать игру" }}
                        </a>
                    </div>
                </div>
            {% empty %}
                 <p>Товары не добавлены.</p>
            {% endfor %}
        </div>
        {% if company_profile.market_link %}
            <a href="{{ company_profile.market_link }}" class="market-more-link" target="_blank" rel="noopener noreferrer">
                {{ company_profile.market_button_text|default:"Еще больше товаров в нашем маркете" }}
            </a>
        {% endif %}
    </div>
</section>