<section id="orbibol-section">
    <div class="container">
        {% if section.show_title %}
            <h2>{{ section.title|default:"Орбибол" }}</h2>
        {% endif %}
        
        {% if orbibol_info %}
            <p class="orbibol-general-info">{{ orbibol_info.general_info|linebreaksbr }}</p>
            
            <div class="orbibol-content-wrapper">
                
                <div class="orbibol-item">
                    <div class="orbibol-icon-wrapper">
                        {% if orbibol_info.plot_icon %}
                            <img src="{{ orbibol_info.plot_icon.url }}" alt="{{ orbibol_info.plot_title }}">
                        {% endif %}
                    </div>
                    <div class="orbibol-text-content">
                        <h3>{{ orbibol_info.plot_title }}</h3>
                        <p>{{ orbibol_info.plot_description }}</p>
                    </div>
                </div>
                
                
                <div class="orbibol-item">
                    <div class="orbibol-icon-wrapper">
                        {% if orbibol_info.tactical_icon %}
                            <img src="{{ orbibol_info.tactical_icon.url }}" alt="{{ orbibol_info.tactical_title }}">
                        {% endif %}
                    </div>
                    <div class="orbibol-text-content">
                        <h3>{{ orbibol_info.tactical_title }}</h3>
                        <p>{{ orbibol_info.tactical_description }}</p>
                    </div>
                </div>
            </div>
            
            {% if orbibol_info.details_link %}
                <div class="text-center">
                    <a href="{{ orbibol_info.details_link }}" target="_blank" rel="noopener noreferrer" class="orbibol-details-link">
                        {{ company_profile.orbibol_details_button_text|default:"Узнать подробнее" }}
                    </a>
                </div>
            {% endif %}
        {% endif %}
    </div>
</section>