

.section-contacts p { 
    margin-bottom: 1.5rem; 
}


.section-contacts p a { 
    color: var(--color-green-accent); 
    text-decoration: underline; 
}

.section-contacts p a:hover { 
    text-decoration: none; 
}

.social-icons-footer {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.social-icons-footer a {
    text-decoration: none;
}
.social-icons-footer img {
    height: 30px;
    width: 30px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}
.social-icons-footer a:hover img {
    opacity: 1;
}

@media (max-width: 768px) {
    .section-contacts p {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }
}