/* --- СТИЛИ ДЛЯ ДЕСКТОПА --- */
.section-features h2 {
    margin-bottom: 5rem;
}

/* На десктопе обертка - это просто div */
.features-carousel-wrapper {
    position: relative;
}

.features-carousel .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.5rem 5rem;
    transform: none !important;
}

.features-carousel .feature-slide {
    width: auto !important;
    margin-right: 0 !important;
    display: contents;
}

.feature-item {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    text-align: left; 
    gap: 2rem;
    max-width: 500px;
}

.feature-icon-wrapper {
    flex-shrink: 0;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--color-green-accent);
    overflow: hidden; 
}

.feature-icon-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.feature-text-content h3 {
    font-family: var(--font-headers);
    font-size: var(--fs-subsection-title);
    color: var(--color-green-accent);
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

.feature-text-content p {
    font-size: 1rem;
    line-height: 1.5;
}

/* На десктопе стрелки и пагинация скрыты */
.features-carousel-wrapper .swiper-button-prev,
.features-carousel-wrapper .swiper-button-next,
.features-carousel .features-pagination {
    display: none;
}


/* --- СТИЛИ ДЛЯ МОБИЛЬНЫХ --- */
@media (max-width: 992px) {
    .features-carousel {
        overflow: hidden;
        padding-bottom: 30px;
    }

    .features-carousel .swiper-wrapper {
        display: flex;
        flex-wrap: nowrap; 
        justify-content: flex-start;
        gap: 0;
    }
    
    .features-carousel .feature-slide {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        align-items: center;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .feature-item {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        max-width: 280px;
    }

    .feature-icon-wrapper {
        width: 100px;
        height: 100px;
    }

    /* ПОКАЗЫВАЕМ СТРЕЛКИ И ПАГИНАЦИЮ */
    .features-carousel-wrapper .swiper-button-prev,
    .features-carousel-wrapper .swiper-button-next,
    .features-carousel .features-pagination {
        display: flex;
    }

    .features-prev, .features-next {
        color: var(--color-green-accent);
        top: 40%;
    }

    .swiper-button-disabled {
        opacity: 0.2;
        cursor: auto;
    }
}